@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* NProgress Custom Styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #f97316 !important; /* Orange-500 */
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px !important;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #f97316, 0 0 5px #f97316;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
